a:hover {
  color: red !important; 
}

.breadcrumb a:hover{
    text-decoration-line:underline !important;
    color:black !important;
}
.offcanvas a:hover{
  text-decoration-line:underline !important;
    color:black !important;
}
.expand:hover{
  background-color: red;
    color:white !important;
}

input::placeholder{
  color: gray !important;
  opacity: 1;
}

/* .cart button:hover{
  border: 2 solid black;
} */

.zoomContainer, .zoomContainer div {
    cursor: zoom-in !important;
}

#img-center {
    cursor: zoom-in;
}
.related-swiper{
  border:1px solid #e5e5e5;
  border-radius:8px;
  overflow:hidden;
  background:white;
}

.related-swiper .swiper-slide{
  border-right:1px solid #e5e5e5;
}

.related-swiper .swiper-slide:last-child{
  border-right:none;
}

.card-text{
  font-size:14px;
  color:#333;
}


.card img{
  transition:transform .3s;
}

/* .card:hover img{
  transform:scale(1.05);
} */

#rel-prev,
#rel-next{
  background-color:rgba(0,0,0,0.85);
  border:none;
  cursor:pointer;
  color:white;
  font-size:20px;
}

#rel-prev:hover,
#rel-next:hover{
  background:black;
}
.img-small.active-border {
    border: 1px solid black !important; 
    opacity: 1;
}