a:hover {
  color: red !important; 
}

.breadcrumb a:hover{
    text-decoration-line:underline !important;
    color:black !important;
}
.offcanvas a:hover{
  text-decoration-line:underline !important;
    color:black !important;
}
.expand:hover{
  background-color: red;
    color:white !important;
}